/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #5D1049, #f9e4d4);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 2rem;
  width: 320px;
  text-align: center;
  color: #fff;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: rgb(255, 231, 96);
  color: black;
  padding: 0.3rem 0.7rem;
  font-size: 0.75rem;
  border-radius: 12px;
  font-weight: bold;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 1rem;
}

.social-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-links img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid white;
  padding: 2px;
  transition: transform 0.2s ease;
}

.social-links img:hover {
  transform: scale(1.2);
}
